<mat-card>
    <mat-card-title>
        Exportar Servicios
    </mat-card-title>
    <mat-card-subtitle>
        Selecciona la ruta a exportar
    </mat-card-subtitle>
    <mat-card-content>
        <mat-form-field>
            <mat-select placeholder="Selecciona una ruta" name="rutas" [(ngModel)]="ruta" required>
                <mat-option *ngFor='let ruta of rutas' (click)="getServiciosByRuta(ruta)" [value]='ruta'>{{ ruta }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" color="primary" (click)="exportarCSV()">Exportar</button>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-table [dataSource]="servicios" class="table">
        <ng-container matColumnDef="_id">
            <mat-header-cell *matHeaderCellDef> No. Servicio </mat-header-cell>
            <mat-cell *matCellDef="let servicio"> {{ servicio._id }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ruta">
            <mat-header-cell *matHeaderCellDef> Empresa </mat-header-cell>
            <mat-cell *matCellDef="let servicio"> {{ servicio.ruta }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
</mat-card>